*{
	margin:0;
	padding:0;
	font-family: 'Nunito', sans-serif;
}
a{
	text-decoration: none;
	color: #fff;
}
header p{
	display: inline-block;
	font-size: 180%;
	margin-top: 1%;
	margin-left: 3%;
}
#go-top {
  position: fixed; 
  bottom: 25px; 
  right: 10px; 
  cursor:pointer; 
  display:none;
  width: 5%;
  height: 2.7vh;
	background: #0f4174;
	padding: 0.8%;
	border:1px solid #fff;
	border-radius: 10px;
	text-align: center;
}
 
#go-top:hover {
  	background: #0f4174;
	padding: 0.8%;
	border:1px solid #fff;
	border-radius: 10px;
	color: #fff;
}
.title{
	width:100%;
	height:5em;
	background-image: url(https://kpfu.ru//portal/docs/F_759713883/PhysForAll.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}
.kz{	
	background-color: #4285B4;
	border-radius: 7px;
	color: #fff;
	padding:5px;
}
.ru{
	color: black;
}
.main{
	line-height: 2.5em;
	margin-left: 3%;
	color: #4285B4;
}
.rukz a{
	margin-left: 0%;
}
.rukz{
	float: right;
	width: 5%;
	margin-left: 95%;
	margin-top: -2.2%;
}
.sitedriver{
	width:98%;
	height: 2.6em;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #e3e3e3;
}
.container{
	width: 100%;
	height:79vh;
	margin-top: 1%;
	background: url(img/1529493186_1526620320_1507549305_shelter-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	
}
.container h1{
	margin-top: 18vh;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 5vh;
	position: absolute;
}
.container p{
	font-size: 5vh;
	margin-top: 35vh;
	position: absolute;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.labs{
	width: 94%;
	height: 170vh;
	margin-top: 1%;	
	margin-left: 3.5%;
	margin-right: 2.5%;
}
.inlabs {
	display:inline-block; 
	min-height: 50px;
	width:17%; 
	margin-top: 4%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:1%; 
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
}
.inlabs h2 {
	color:black; 
    font-weight:700; 
    font-size:2.7vh;
}
.inlabs p {
	color:black;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 5vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
}
.last{
	width: 100%;
	height: 50vh;
	background: linear-gradient(#fff, #0f4174);
}
.last h4{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 10%;
	font-size: 3vh;
}
.one{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 12.7%;	
}
.two{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 14.9%;	
}
.three{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 17.1%;	
}
.messengers{
	position: absolute;
	display: inline-block;
	width: 20%;
	height: 5vh;
	margin-right: 5%;
	margin-left: 65%;
	margin-top: 10%;
}
.messtext{
	position: absolute;
	margin-top: 10.3%;
	margin-left: 68%;
	font-size: 2vh;
}
.messtext1{
	position: absolute;
	margin-top: 13%;
	margin-left: 68%;
	font-size: 2vh;

}
.messtext2{
	position: absolute;
	margin-top: 15.5%;
	margin-left: 68%;
	font-size: 2vh;

}
@media screen and (min-width:1024px ) and (min-height: 600px) {
.title{
	width:100%;
	height:5em;
	background-image: url(https://kpfu.ru//portal/docs/F_759713883/PhysForAll.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.rukz{
	float: right;
	width: 7%;
	margin-left: 93%;
	margin-top: -2.8%;
}
.labs{
	width: 96%;
	height: 135vh;
	margin-top: 1%;	
	margin-left: 3%;
	margin-right: 2%;
}
.inlabs {
	display:inline-block; 
	height:40vh; 
	width:16%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:1%; 
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs h2 {
	color:black; 
    font-weight:700; 
    font-size:2.3vh;
}
.inlabs p {
	color:black;
	font-size: 2vh;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 4vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
} 
.two{
	position: absolute;
	width: 22%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 14.9%;
}
.three{
	position: absolute;
	width: 24%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 17.1%;	
}
}
@media screen and (width:1024px ) and (max-height: 768px) {
.title{
	width:100%;
	height:5em;
	background-image: url(https://kpfu.ru//portal/docs/F_759713883/PhysForAll.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.rukz{
	float: right;
	width: 7%;
	margin-left: 93%;
	margin-top: -3%;
}
.labs{
	width: 96%;
	height: 115vh;
	margin-top: -3%;	
	margin-left: 3.5%;
	margin-right: 2%;
}
.inlabs {
	display:inline-block; 
	height:33vh; 
	width:16%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:1%; 
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs h2 {
	color:black; 
    font-weight:700; 
    font-size:1.8vh;
}
.inlabs p {
	color:black;
	font-size: 1.61vh;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 4vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
} 
.two{
	position: absolute;
	width: 22%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 14.9%;
}
.three{
	position: absolute;
	width: 24%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 17.1%;	
}
.last{
	width: 100%;
	height: 40vh;
	background: linear-gradient(#fff, #0f4174);
}
}
@media screen and (min-width:1200px ) and (min-height: 600px) {
	.inlabs {
	display:inline-block; 
	height:35vh; 
	width:16%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:1%; 
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.labs{
	width: 96%;
	height: 120vh;
	margin-top: 2%;	
	margin-left: 3.5%;
	margin-right: 2%;
}
.rukz{
	margin-top: -2.65%;
}
}
@media screen and (min-width:1280px ) and (min-height: 768px) {
	.inlabs {
	display:inline-block; 
	height:27vh; 
	width:16%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:1%; 
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.labs{
	width: 96%;
	height: 95vh;
	margin-top: 1%;	
	margin-left: 3.5%;
	margin-right: 2%;
}
.rukz{
	margin-top: -2.5%;
}
}
@media screen and (min-width:1280px ) and (min-height: 1024px) {
.labs{
	width: 96%;
	height: 95vh;
	margin-top: -13%;	
	margin-left: 3.5%;
	margin-right: 2%;
}
.inlabs p {
	color:black;
	font-size: 1.3vh;
}
.last p{
	font-size: 2vh;
}
}
@media screen and (width:1440px ) and (max-height: 900px) {
.rukz{
	float: right;
	width: 5%;
	margin-left: 95%;
	margin-top: -2%;
}
.labs{
	width: 95%;
	height: 95vh;
	margin-top: -1%;	
	margin-left: 5%;
	margin-right: 3%;
}
}
@media screen and (min-width:1400px ) and (min-height: 1050px) {
.labs{
	width: 95%;
	height: 95vh;
	margin-top: -5%;	
	margin-left: 5%;
	margin-right: -3%;
}
.rukz{
	margin-top: -2.2%;
}
}
@media screen and (min-width:1536px ) and (min-height: 1024px) {
.labs{
	width: 95%;
	height: 95vh;
	margin-top: -5%;	
	margin-left: 4%;
	margin-right: -3%;
}
.inlabs {
	display:inline-block; 
	height:27vh; 
	width:17%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:1%; 
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs p {
	color:black;
	font-size: 1.5vh;
}
.inlabs h2{
	color: black;
	font-size: 1.8vh;
}
.rukz{
	margin-top: -2%;
}
}
@media screen and (width:1600px ) and (max-height: 900px) {
	.labs{
	width: 87%;
	height: 110vh;
	margin-top: 1%;	
	margin-left: 7.5%;
	margin-right:7.5%;
}	
.inlabs {
	display:inline-block; 
	height:31vh; 
	width:17%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:0.5%; 
    margin-left: 0.5%;
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs p {
	color:black;
	font-size: 1.9vh;
}
.inlabs h2{
	color: black;
	font-size: 1.9vh;
}
.rukz{
	float: right;
	width: 5%;
	margin-left: 95%;
	margin-top: -1.9%;
}
.last h4{
	margin-left: 9%;
}
.one{
	margin-left: 9%;
}
.two{
	margin-left: 9%;
}
.three{
	margin-left: 9%;
}
}
@media screen and (min-width:1600px ) and (min-height: 1024px) {
	.labs{
	width: 88%;
	height: 110vh;
	margin-top: 1%;	
	margin-left: 7.5%;
	margin-right:7.5%;
}	
.inlabs {
	display:inline-block; 
	height:31vh; 
	width:17%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:0.5%; 
    margin-left: 0.5%;
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs p {
	color:black;
	font-size: 1.7vh;
}
.inlabs h2{
	color: black;
	font-size: 1.7vh;
}
.last h4{
	margin-left: 9%;
}
.one{
	margin-left: 9%;
}
.two{
	margin-left: 9%;
}
.three{
	margin-left: 9%;
}
}
@media screen and (min-width:1600px ) and (min-height: 1200px) {
.rukz{
	float: right;
	width: 5%;
	margin-left: 95%;
	margin-top: -1.5%;
}
.title{
	font-size: 1.7vh;
}
.labs{
	width: 98%;
	height: 110vh;
	margin-top: -10%;	
	margin-left: 1.3%;
	margin-right:1%;
}	
.inlabs {
	display:inline-block; 
	height:31vh; 
	width:17.2%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:0.5%; 
    margin-left: 0.5%;
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs p {
	color:black;
	font-size: 1.7vh;
}
.inlabs h2{
	color: black;
	font-size: 1.7vh;
}
.sitedriver{
	width:98%;
	height: 3em;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #e3e3e3;
}
.main{
	line-height: 2.2em;
	margin-left: 3%;
	color: #4285B4;
	font-size: 1.8vh;
}
.rukz{
	margin-top: -2.2%;
}
.last h4{
	margin-left: 3%;
}
.one{
	margin-left: 3%;
}
.two{
	margin-left: 3%;
}
.three{
	margin-left: 3%;
}
}
@media screen and (min-width:1680px ) and (min-height: 1050px) {
.rukz{
	margin-top: -1.7%;
}
.main{
	line-height: 2em;
	margin-left: 3%;
	color: #4285B4;
	font-size: 2.1vh;
}
.sitedriver{
	width:98%;
	height: 3.2em;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #e3e3e3;
}
.last h4{
	position: absolute;
	width: 20%;
	margin-left: 8%;
	margin-right: 75%;
	margin-top: 10%;
	font-size: 3vh;
}
.one{
	position: absolute;
	width: 20%;
	margin-left: 8%;
	margin-right: 75%;
	margin-top: 12.7%;	
}
.two{
	position: absolute;
	width: 20%;
	margin-left: 8%;
	margin-right: 75%;
	margin-top: 14.9%;	
}
.three{
	position: absolute;
	width: 20%;
	margin-left: 8%;
	margin-right: 75%;
	margin-top: 17.1%;	
}
}

@media screen and (min-width:1920px ) and (min-height: 1080px) {
.rukz{
	font-size: 1.9vh;
}
}
@media screen and (min-width:1920px ) and (min-height: 1200px) {
.rukz{
	font-size: 1.9vh;
}
.rukz{
	margin-top: -2.1%;
}
.labs{
	width: 98%;
	height: 110vh;
	margin-top: -1%;	
	margin-left: 2%;
	margin-right:1%;
}	
.inlabs {
	display:inline-block; 
	height:31vh; 
	width:17.2%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:0.5%; 
    margin-left: 0.5%;
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
} 
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 5vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
    font-size: 1.5vh;
}
}
@media screen and (min-width:2048px ) and (min-height: 1152px) {
.inlabs h2{
	font-size: 2vh;
}
.inlabs p{
	font-size: 1.8vh;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 4vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
    font-size: 1.5vh;
}
.labs{
	margin-top: 3%;
}
.rukz{
	margin-top: -1.9%;
}
}
@media screen and (min-width:2048px ) and (min-height: 1536px) {
.rukz{
	float: right;
	width: 6%;
	margin-left: 93.5%;
	margin-right: 0.5%;
	margin-top: -2.5%;
}
.sitedriver{
	width:98%;
	height: 4em;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #e3e3e3;
}
.main{
	line-height: 1.8em;
	margin-left: 3%;
	color: #4285B4;
	font-size: 2.2vh;
}
.labs{
	width: 98%;
	height: 110vh;
	margin-top: -11%;	
	margin-left: 2%;
	margin-right:1%;
}	
.inlabs {
	display:inline-block; 
	height:31vh; 
	width:17.2%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:0.5%; 
    margin-left: 0.5%;
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
}
.inlabs h2{
	font-size: 1.8vh;
}
.inlabs p{
	font-size: 1.7vh;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 4vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
    font-size: 1.5vh;
    margin-right: 5%;
}
}
@media screen and (min-width:2560px ) and (min-height: 1440px) {
.sitedriver{
	height: 4em;
}
.rukz{
	margin-top: -2%;
}
.inlabs h2{
	font-size: 2.2vh;
}
.inlabs p{
	font-size: 1.9vh;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 2.5vh; 
	padding:10px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
    font-size: 1.7vh;
    margin-right: 2%;
}
.labs{
	width: 95%;
	height: 110vh;
	margin-top: 2%;	
	margin-left: 4.5%;
}
.last h4{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 9%;
	font-size: 3.3vh;
}
.one{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 11.7%;	
}
.two{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 13.9%;	
}
.three{
	position: absolute;
	width: 20%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 16.1%;	
}
.last p{
	font-size: 2.3vh;
}
}
@media screen and (min-width:2560px ) and (min-height: 1600px) {
.rukz{
	float: right;
	width: 5%;
	margin-left: 95%;
	margin-top: -2%;
}
.sitedriver{
	height: 4.2em;
}
.labs{
	margin-top: -1%;
}
.inlabs p{
	font-size: 1.87vh;
}
.inlabs h2{
	font-size: 1.95vh;
}
.three{
	position: absolute;
	width: 22%;
	margin-left: 5%;
	margin-right: 75%;
	margin-top: 16.1%;	
}
}
@media screen and (min-width:3200px ) and (min-height: 2048px) {
.sitedriver{
	height: 4.2vh;
}
.labs{
	width: 95%;
	height: 100vh;
	margin-top: -3%;	
	margin-left: 5%;
}	
.inlabs {
	display:inline-block; 
	height:31vh; 
	width:17.2%; 
	margin-top: 1%;
    border: 1px solid green; 
    border-radius: 15px;
    margin-right:0.5%; 
    margin-left: 0.5%;
    margin-bottom:10px; 
    vertical-align:top;
    padding:10px;
}
.inlabs h2{
	font-size: 2vh;
}
.inlabs p{
	font-size: 1.847vh;
}
}
@media screen and (min-width:3200px ) and (min-height: 2400px) {
.rukz{
	margin-top: -2.5%;
	width: 6%;
}
.labs{
	margin-top: -11%;
}
.inlabs h2{
	font-size: 1.75vh;
}
.inlabs p{
	font-size: 1.7vh;
}
.last p{
	font-size: 2vh;
}
.one{
	margin-top: 11%;
}
.two{
	margin-top: 14%;	
}
.three{
	margin-top: 17%;
	width: 23%;
}
.last h4{
	margin-top: 7%;
}
}
@media screen and (min-width:3840px ) and (min-height: 2400px) {
.rukz{
	margin-top: -2.1%;
}
.labs{
	margin-top: -1%;
}
.inlabs h2{
	font-size: 2vh;
}
.inlabs p{
	font-size: 1.85vh;
}
.inlabs button {
	color:white; 
	border:none; 
	outline:none;
	margin-top: 3vh; 
	padding:20px; 
	background:linear-gradient(to top, ForestGreen 5%, LimeGreen 5%);
    box-shadow:0 0 3px black;
    float: right;
    font-size: 1.8vh;
}
.messengers{
	position: absolute;
	display: inline-block;
	width: 20%;
	height: 5vh;
	margin-right: 5%;
	margin-left: 65%;
	margin-top: 9.5%;
}
.messtext{
	position: absolute;
	margin-top: 9.5%;
	margin-left: 68%;
	font-size: 2vh;
}
.messtext1{
	position: absolute;
	margin-top: 12%;
	margin-left: 68%;
	font-size: 2vh;

}
.messtext2{
	position: absolute;
	margin-top: 14.5%;
	margin-left: 68%;
	font-size: 2vh;

}
}
@media screen and (width:4096px ) and (height: 2160px) {
.rukz{
	margin-top: -1.7%;
}
.labs{
margin-top: 1%;
}
.inlabs p{
	font-size: 1.9vh;
}
.inlabs h2{
	font-size: 2.1vh;
}
.inlabs button{
	font-size: 1.9vh;		
}
}
@media screen and (width:5120px ) and (height: 4096px) {
.rukz{
	margin-top: -2.6%;
}
.labs{
    margin-top: -14%;
}
.inlabs h2{
	font-size: 1.65vh;
}
.inlabs p{
	font-size: 1.6vh;
}
.two{
	width: 22%;
}
.three{
	width: 25%;
}
}
@media screen and (width:6400px ) and (height: 4096px) {
.inlabs h2{
	font-size: 2vh;
}
.inlabs p{
	font-size: 1.82vh;
}
}